In [10]:
import pandas as pd
import numpy as np


data = {
    'name': ['Andi', 'Budi', 'Cira', 'Devd', 'Eka', 'Fajar', 'Gina', 'Hadi', 'Indah', 'Jilan'],
    'alamat': ['Jl. Merdeka No. 18', 'Jl. Sudirman No. 5', 'Jl. Thamrin No. 20', 
               'Jl. Gatot Subroto No. 15', 'Jl. Rasuna Said No. 8', 'Jl. Kuningan No. 12',
               'Jl. Cikini No. 3', 'Jl. Palmerah No. 7', 'Jl. Senayan No. 9', 'Jl. Kuningan No. 2'],
    'tinggi': [175, 178, 180, 180, 183, 185, 170, 168, 178, 160]
}

df = pd.DataFrame(data)
print("Dataframe berhasil dibuat")

# Simpan ke CSV (untuk keperluan analisis)
df.to_csv('calon_tni.csv', index=False)
print("File calon_tni.csv berhasil dibuat")

print("========================== Data TNI ==========================")
print(df)
print("=" * 50)

print("\n========================== Deskriptif ==========================")
print(df.describe())
print("=" * 50)

print("\n========================== Data Missing ==========================")
print(f'Data Missing :\n{df.isnull().sum()}')
print("\n========================== Data Duplikat ==========================")
print(f'Data Duplikat :\n{df.duplicated().sum()}')

print("=" * 50)
print(f"\nTinggi Maks = {df["tinggi"].max()}")
print(f"\nTinggi Min = {df["tinggi"].min()}")
print(f"\nTinggi Mean = {df["tinggi"].mean()}")

Dataframe berhasil dibuat
File calon_tni.csv berhasil dibuat
========================== Data TNI ==========================
    name                    alamat  tinggi
0   Andi        Jl. Merdeka No. 18     175
1   Budi        Jl. Sudirman No. 5     178
2   Cira        Jl. Thamrin No. 20     180
3   Devd  Jl. Gatot Subroto No. 15     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
8  Indah         Jl. Senayan No. 9     178
9  Jilan        Jl. Kuningan No. 2     160
==================================================

========================== Deskriptif ==========================
           tinggi
count   10.000000
mean   175.700000
std      7.645623
min    160.000000
25%    171.250000
50%    178.000000
75%    180.000000
max    185.000000
==================================================

========================== Data Missing ==========================
Data Missing :
name      0
alamat    0
tinggi    0
dtype: int64

========================== Data Duplikat ==========================
Data Duplikat :
0
==================================================

Tinggi Maks = 185

Tinggi Min = 160

Tinggi Mean = 175.7